.checkin{
    margin-top: 10%;
    border-right: 2px solid gainsboro;
    height: 25%;
    min-height: 200px;
}
#checkinbtn {
    margin-top: 200px;}

label {
    font-size: 16px;
    color: #B4886B;
    font-weight: bold;
}
label:after { content: ": " }


.register{
    float: right;
    width: 47%;
    height: 300px;
    margin-top: 100px;
    padding: 10px;
    border: 1px solid gainsboro;
}
.datepicker{ cursor:pointer;  }

.footer{
    background-color: #bfbfbf;
    padding: 25px;
}
.index {
    margin-top: 75px;
}

.input-group > .input-group-btn:last-child > .selectpicker {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-group > .input-group-btn:first-child > .selectpicker {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    height: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: x-large;
}

@media screen and (max-width: 980px) {
    .index {
        margin-top: 25px;
    }
    .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
        height: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 12px;
    }
}