<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/head :: head">

</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">

    <div class="jumbotron" style="margin-top: 75px;">
        <h2 class="text-center">Welcome To Totally Sound Entertainment's 2nd Annual Bridal Show</h2>
        <div class="row">
        <div class="col-md-5">

            <div class="alert alert-danger" role="alert" id="userNotFound" th:if="${error} == 'notFound'">
                <strong>Oh snap!</strong> Your are not pre-registered. Please Register.
            </div>

            <h3 class="text-center">Pre-Registered?</h3>
            <form action="#" role="form" th:action="@{/checkin}" th:object="${bride}" method="post">
                <label>Name:</label>
                <div class="input-group name" id="name">
                    <input placeholder="Ann Smith"  name="name" class="form-control" th:field="*{name}" type="text"/><br/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                </div>
                <h4 class="text-center">OR</h4>
                <label>Email:</label>
                <div class="input-group email" id="email">
                    <input placeholder="AnnSmith@gmail.com" class="form-control" name="email" th:field="*{email}" type="email"/><br/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                </div>
                <div class="row" id="" >
                    <br/>
                    <button type="submit" value="submit" class="btn btn-info  btn-block">Check-in</button>
                    </div>
            </form>
        </div>

            <div class="col-md-5 col-md-offset-2  ">
            <h3 class="text-center">Walk-in?</h3>
            <form action="/create" role="form" th:action="@{/create}" th:object="${bride}" method="post">
                <label>Name:</label>
                <div class="input-group name" id="name">
                    <input placeholder="Ann Smith"  name="name" class="form-control" th:field="*{name}" type="text" required="required"/><br/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                </div>
                <label>Email:</label>
                <div class="input-group email" id="email">
                    <input placeholder="AnnSmith@gmail.com" class="form-control" name="email" th:field="*{email}" type="email" required="required"/><br/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                </div>
                <label>Wedding Date</label>
                <div class="input-group date" id="weddingDate" data-provide="datepicker">
                    <input type="text" class="form-control" name="weddingDate" placeholder="Saturday, December 31st, 2016" th:field="*{weddingDate}" required="required" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <label>Phone Number</label>
                <div class="input-group phone" >
                    <input type="tel" class="form-control" name="phone" id="phone"  placeholder="(573) 555-7748" th:field="*{phoneNumber}" required="required" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-phone"></span>
                    </div>
                </div>
                <br/>
                <span id="valid-msg" class="hide alert alert-sucess">✓ Valid</span>
                <span id="error-msg" class="hide alert alert-danger">Invalid number</span>
                    <br/>
                 <button type="submit" value="search" class="btn btn-info  btn-block">Register</button>

            </form>
        </div>
</div>

    </div>

    <script>
        $('#phone').mask('(000) 000-0000');

        $('#userNotFound').fadeIn().delay(10000).fadeOut();

    </script>



</div>
<div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>
</html>
