<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/head :: head">

</head>
<body onload="hidefield()">
<div th:include="fragments/header :: header"></div>
<div class="container">
    <div class="jumbotron index">
        <h2 class="text-center" th:text="#{title}"/>

        <div th:include="fragments/messages :: messages"></div>

        <div class="row">
            <div class="col-md-5 checkin">
                <h3 class="text-center" th:text="#{title.preregister}"/>
                <div lang="en" th:replace="fragments/forms :: checkinForm"> </div>
            </div>

            <div class="col-md-1 spacer">
                <div class="visible-xs visible-sm" style="padding: 15px;" >
                    <img src="/images/Horizontal-Line-Transparent-Background.png" width="620px"/>
                </div>
            </div>

            <div class="walkin col-md-5 col-md-offset-1">
                <h3 class="text-center" th:text="#{title.walkin}"/>
                <div lang="en" th:replace="fragments/forms :: registerForm"> </div>
            </div>
        </div>
    </div>
</div>
<div lang="en" th:replace="fragments/footer :: footer"> </div>
</body>
</html>
